{% load staticfiles %}

<!DOCTYPE html>

<html>
  <head>
    <title>TaskCrow</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% block styles %}{% endblock styles %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TaskCrow</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          {% if user and "error" not in user %}
            <li>
              <p class="navbar-text">
                Hello, {{ user.first_name }}
              </p>
            </li>
            <li><a href="{% url 'logout_view' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'signup_view' %}">Sign Up</a></li>
          <li><a href="{% url 'login_view' %}">Login</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
    {% block content %}{% endblock content %}
  </body>
</html>

