{% extends "app/base.html" %}

{% block styles %}
  {{ block.super }}
  <style>
    #create-listing {
      margin-top: 3em;
    }
  </style>
{% endblock styles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Categories</h1>
    </div>
  </div>
  <div class="row">
    {% for category in categories %}
      <div class="col-md-3">
        <a href="{% url 'category_task_list_view' category.id %}" class="task">{{ category.name }}</a>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary" id="create-listing" href="{% url 'create_listing_view' %}" role="button">Create Listing</a>
    </div>
  </div>
</div>
{% endblock content %}
