{% extends "app/base.html" %}
{% block content %}
  <div class = "row">
    <div class = "col-lg-12 text-center">
      <h2> Create a new listing! </h2>
      <form style="padding-top:5%;" id="form" method="POST" action="/create_listing/">
        {% csrf_token %}
        {% for field in form %}
          <div>
            {% if field.name == "category" %}
              {{ field.label_tag }} <select id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            {% else %}
              {{ field.label_tag }} {{ field }}
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        {{ error|capfirst }}<br/>
        <input class = "btn btn-primary btn-md" name = 'listing' type = 'submit' value = 'Create!'>
      </form>
    </div>
  </div>
{% endblock %}
