{% extends "app/base.html" %}

{% block style %}
  <style>
  </style>
{% endblock style %}

{% block content %}
<div class = "row">
    <div class = "col-lg-12 text-center">
        <form action="/login/" method="post">
            {% csrf_token %}
            {% for field in form %}
              <div>
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
              </div>
            {% endfor %}
            {{ error|capfirst }}<br/>
            <input type="submit" class="btn btn-primary btn-md" value="Submit" />
        </form>
    </div>
</div>
{% endblock content %}
