{% extends "app/base.html" %}

{% block style %}
  <style>
  </style>
{% endblock style %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{ task.description }}</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">

          <table class = "table">

              <tbody>
                  <tr>
                      <td>Customer</td>
                      <td>Category</td>
                      <td>Cost</td>
                      <td>Date Created</td>
                      <td>Date Due</td>
                      <td>Completed</td>
                  </tr>

                  <tr>
                      <td>{{ task.customer }}</td>
                      <td>{{ task.category }}</td>
                      <td>{{ task.cost }}</td>
                      <td>{{ task.created_date }}</td>
                      <td>{{ task.due_date }}</td>
                      <td>{{ task.complete }}</td>
                  </tr>
              </tbody>

          </table>

      </div>
  </div>
</div>
{% endblock content %}
