{% load staticfiles %}

<html>
    <head>
        <title>TaskCrow</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TaskCrow</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">nav 1</a></li>
                <li><a href="#">nav 2</a></li>
            </ul>
        </div>
    </nav>

        <h1> Welcome to TaskCrow</h1>

         <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Thumbnail Gallery</h1>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#                    <a class="thumbnail" href="#">#}
{#                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">#}
{#                    </a>#}
{#                </div>#}
            </div>

    </body>


</html>